[user]
  name  = ooq-tiki
  email = ooq.tiki@gmail.com
[color "diff"]
  old = magenta
[color "status"]
  added     = cyan
  changed   = yellow
  untracked = yellow
  unmerged  = yellow
[core]
  pager = less -x2
  editor = nvim -f
[pull]
  rebase = false
  ff = only
[init]
  defaultBranch = main
[merge]
  tool = vimdiff
[alias]
  l     = log
  co-ls = show --name-only
  ls-co = show --name-only
  ls  = ls-files
  s   = status
  d   = diff
  sl  = diff --staged --name-only
  wl  = diff          --name-only
  sd  = diff --staged
  wd  = diff
  a   = add
  co  = commit
  pll = pull
  p   = pull
  psh = push
  mrg = merge
  b   = branch
  ch  = checkout
  sw  = switch
  cnf = config
[log]
  date = iso-local

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

